<div id="city">

  <h1>Cake Decorators Unite</h1>

  <div id="input-area">
    <textarea id="input-box" rows="4" cols="50"></textarea>
    <div id="note-button">
      <img src="../../assets/images/save.png" class="button">
    </div>
  </div>

  <div id="saved-area">
    <textarea readonly id="note-box" rows="4" cols="50"></textarea>
    <div id="delete-button">
      <img src="../../assets/images/trash.png" class="button">
    </div>
  </div>

  <section class="container">
    <div id="headline"></div>
  </section>

</div>